<div class="page-header">
  <div class="container">

    <div class="page-hero">
      <h1>UCSD CIRCLE K</h1>
      <h1 class="title">Masquerade Ball 2015</h1>
    </div>

  </div>
</div>

<div class="slanted-header">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>
</div>

<div class="faq-content">
  <div class="container">
    <h3>What is Masquerade Ball?</h3>
    <p>
      For the past 16 years, UC San Diego Circle K has hosted an annual Masquerade Ball Fundraiser to raise money for the Pediatric Trauma Program. The event has grown in size and popularity as time has passed. Last year, we had a record number of over 900 guests and we successfully raised over $11,000 for P.T.P.
    </p>

    <h3>What is the Pediatric Trauma Program?</h3>
    <p>
      The Pediatric Trauma Program (P.T.P.) is a program dedicated to the prevention of unintentional injuries to children. Unintentional injuries happen to be the #1 killer of children 14 yrs and younger. By purchasing a ticket, each $30 donation will help P.T.P provide the equipment and training necessary to save a child's life. For more information about P.T.P. please visit www.cnhfoundation.org/supports/PTP.
    </p>

    <h3>Should I wear a masquerade mask?</h3>
    <p>
      Yes please! We strongly encourage everyone to have a Masquerade Mask, after all it is a Masquerade Ball! We will also be having a Mask-On hour. You do not have to purchase an expensive mask if you do not want to. You can fix one up or design your own to match your friends or your outfit!
    </p>

    <h3>How can I purchase my ticket if I am from a school other than UCSD?</h3>
    <p>
      If you are from another approved Circle K club, your club president will be in charge of reserving tickets by contacting Logistics Chair Sammi Callicoat at sammicallicoat@gmail.com. We ask that all club presidents of approved clubs collect the guest names and turn in checks payable to UCSD Circle K. All checks must be received no later than November 7, 2014.
    </p>
  </div>
</div>
