<div class="page-header">
  <div class="container">

    <div class="page-hero">
      <h1>UCSD CIRCLE K</h1>
      <h1 class="title">Masquerade Ball 2015</h1>
    </div>

  </div>
</div>

<div class="slanted-header">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>
</div>

<div class="faq-content">
  <div class="container">

    <div class="question">
      <h3>What is the dress code?</h3>
      <p class="description">
        Please come dressed in semi-formal attire. Color scheme will be black,
        purple, and silver, but it is not necessary to follow the color code!
        For an example, please refer to the image to the right.
      </p>
      <img class="view" src="/modules/core/img/group.jpg">
    </div>

    <div class="question">
      <h3>Should I wear a masquerade mask?</h3>
      <p>
        Yes please! We strongly encourage everyone to have a Masquerade Mask, after all it is a Masquerade Ball! We will also be having a Mask-On hour. You do not have to purchase an expensive mask if you do not want to. You can fix one up or design your own to match your friends or your outfit!
      </p>
    </div>

  </div>
</div>
