<div class="page-header">
  <div class="container">

    <div class="page-hero">
      <h1>UCSD CIRCLE K</h1>
      <h1 class="title">Masquerade Ball 2015</h1>
    </div>

  </div>
</div>

<div class="slanted-header">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>
</div>

<div class="faq-content">
  <div class="container">

    <h3>What will be at the event?</h3>
    <p>
      There will be plenty of food and games, including:
    </p>

    <div class="lists-container">
      <ul>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Flipbook Photobooth from <a target="_blank" href="http://pixelphotobooth.com">Pixel Photobooth</a></p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Backdrop Photobooth with Lenin Ballesteros from Archer Shots</p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Roaming Photographer with <a target="_blank" href="https://www.facebook.com/alexlinphotography">Alexander Lin Photography</a></p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i><a target="_blank" href="https://www.facebook.com/Trinity-Baking-151389234887929/timeline/"> Trinity Baking Cupcakes</a></p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Coconut Cream, Chicken Curry, and Potato Curry Sambusas from <a target="_blank" href="http://redsambusas.com">RED Sambusas</a></p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Cheese Rolls and Potato Balls from <a target="_blank" href="http://portosbakery.com">Porto's Bakery</a></p>
        </li>
      </ul>

      <ul>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Caricatures by John Wismont</p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Tarot Card Reading by William Kim</p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i> Casino Tables from <a href="http://www.absolute-casino.com/">Absolute Casino</a></p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i>DJ 4KO</p>
        </li>
        <li>
          <p><i class="fa fa-angle-double-right"></i>Live band by UCSD's Musician Club</p>
        </li>
      </ul>
    </div>

    <h3>What's a Fast Pass?</h3>
    <p>
      Fast Passes allow attendees front of the line access to certain entertainment features (backdrop photobooth,
      flipbook photobooth, caricature artist, and tarot card reader) for a small fee of $5 in addition to the general
      admission ticket. Each person is limited to one fastpass per entertainment. In order to qualify for a Fast Pass,
      please fill out the following form. Respondents will be randomly picked and will be given a Fast Pass depending on
      their preference. <a target="_blank" href="http://bit.ly/MBallFastpasses">Please access the form with this link</a>.
    </p>


    <h3>What is the dress code?</h3>
    <div class="question-row">
      <div class="description">
        <p>
          Please come dressed in semi-formal attire. Color scheme will be black, purple, and silver, but it is not
          necessary to follow the color code! For an example, please refer to the image to the right.
        </p>
        <p>
          Only small purses will be allowed. You will be searched before entering the venue so don't bring anything you
          wouldn't want confiscated. This is a DRY event, meaning no alcohol will be allowed or sold on the premises.
          The following items are prohibited onboard:
        </p>
        <ul>
          <li>
            <p><i class="fa fa-angle-double-right"></i> Alcohol, flasks, or any illegal substances</p>
          </li>
          <li>
            <p><i class="fa fa-angle-double-right"></i> All tobacco products, lighters, and matches</p>
          </li>
          <li>
            <p><i class="fa fa-angle-double-right"></i> Water bottles, containers with a screw-on cap (such as cologne and perfume), and beverages</p>
          </li>
          <li>
            <p><i class="fa fa-angle-double-right"></i> Food items, gum, and open mint containers</p>
          </li>
          <li>
            <p><i class="fa fa-angle-double-right"></i> Markers and glow-in-the-dark items</p>
          </li>
          <li>
            <p><i class="fa fa-angle-double-right"></i> Weapons, sharp objects, canes, zoot, and wallet chains</p>
          </li>
        </ul>
        <p>
          Any persons who appear to be intoxicated will be removed from the event immediately.
        </p>
      </div>
      <img class="view" src="/modules/core/img/appropriate-dress.jpg"/>
    </div>

    <div class="question">
      <h3>Should I wear a masquerade mask?</h3>
      <p>
        Yes please! We strongly encourage everyone to have a Masquerade Mask, after all it is a Masquerade Ball! We will also be having a Mask-On hour. You do not have to purchase an expensive mask if you do not want to. You can fix one up or design your own to match your friends or your outfit!
      </p>
    </div>

    <h3>Is there transportation?</h3>
    <p>
      There is round-trip transportation from UCSD to the venue for $5, and shuttles will run from 5:30 PM to 12:30 AM.
      Please meet at Price Center Loop (next to the Burger King) at UCSD no later than 5:00 PM in order to catch a
      shuttle on time. Remember to add on your bus ticket to the online order, purchase in-person, or purchase online
      <a href="http://ucsdcki.ticketleap.com/mball2015addons/t/fb/">here</a>.
    </p>

    <h3>Are there any guest restrictions?</h3>
    <p>
      Masquerade Ball 2015 is <b>only</b> open for students of UCSD, approved members of Cal-Nev-Ha Circle K, and their
      approved guests. All other individuals may not attend. Any student who attends UCSD may buy a ticket in-person or
      online. They may also invite one guest outside of UCSD (the guest must be 18 years or older and may not be a high
      school student. The guest must also purchase a ticket for themselves).
    </p>
    <p>
      For approved dues-paid Circle K members: any dues-paid Circle K member may buy a ticket through their respective club
      representatives. They may also invite one guest who is non Circle K (the guest must be 18 years or older and may
      not be a high school student. The guest must also purchase a ticket for themselves). Contact your president for
      more information!
    </p>

    <h3>Is there housing available?</h3>
    <p>
      If you are coming from a school outside of San Diego or from a school more than 50 miles away, you must sign up
      for housing. Circle K members <b>may not</b> drive between the hours of 12:00 AM and 6:00 AM. After you sign up, you will
      be contacted after submissions are over about who and where you will be staying. Please try to get into contact
      with your host as soon as possible when the information is given to you.
    </p>
    <p>
      If you are interested in housing people, please fill out the same form too except select "willing to house
      people." Volunteers who house people play a very important part in ensuring the safety of our attendees.
    </p>
    <p>
      <a target="_blank" href="http://tinyurl.com/mball2015housing">The form for housing can be accessed here.</a>
    </p>

    <h3>Which Circle K divisions have been approved?</h3>
    <p>
      Capital, Central Coast, Desert Oasis, Foothill, Golden Gate, Magic Kingdom, Metro, Paradise, and Sunset Divisions
      have all been approved.
    </p>

  </div>
</div>
