<!-- navigation bar
<ng-include src="'modules/core/views/partials/header.client.view.html'"></ng-include>
-->

<div class="viewport-height" ng-controller="LandingController as landing">

  <div class="landing-image">
    <div class="container">

      <div class="landing-hero">
        <h1>UCSD CIRCLE K PRESENTS</h1>
        <h1 class="title">Masquerade Ball 2015</h1>
      </div>

    </div>
  </div>

  <div class="countdown-container">
    <div class="container">
      <h1>COUNTDOWN TO MBALL 2015</h1>

      <mb-countdown></mb-countdown>

    </div>
  </div>

  <div class="content">
  </div>
</div>
