<!--
<div class="breakpoint-info">
  <h1>DESKTOP</h1>
  <h1>TABLET</h1>
  <h1>MOBILE</h1>
</div>
-->

<div class="landing-image" ng-controller="LandingController as landing">
  <div class="container">

    <div class="landing-hero">
      <h1>UCSD CIRCLE K PRESENTS</h1>
      <h1 class="title">Masquerade Ball 2015</h1>
    </div>

    <div class="landing-links">
      <div>
        <a href="http://ucsdcki.ticketleap.com/mball2015/t/fb/" class="link-emphasis"><i class="fa fa-ticket"></i> GET TICKETS</a>
      </div>
      <div>
        <a id="volunteer" ng-click="thank()" href="http://bit.ly/MBallVolunteer">{{ message }}</a>
      </div>
    </div>

  </div>
</div>

<div class="countdown-container">
  <div class="container">
    <h1>COUNTDOWN TO MBALL 2015</h1>

    <mb-countdown></mb-countdown>

  </div>
</div>

<div id="news" class="announcements-view">
  <div class="view-header left">
    <div class="content">
      <h1>NEWS</h1>
      <h1>AND</h1>
      <h1>UPDATES</h1>

      <br/>

      <p>
        Here are the latest news and updates from the Masquerade Ball
        Committee. Make sure to check back often!
      </p>
    </div>
  </div>
  <div class="view-content right">

    <div class="announcement">
      <h3>INFORMATION ON TICKET SALES</h3>
      <p>
        UCSD Students (CKI and Non-CKI): We will be selling tickets both online and in-person. In either case, you will
        be receiving an e-ticket! We will accept credit card (small fee applies), cash and Venmo! Cash and venmo
        <b>must</b> be done in person. You can also come by our tabling next week and find out how to buy it in person!
        <a target="_blank" href="http://ucsdcki.ticketleap.com/mball2015/t/fb/">You can find the online ticketing site here.</a>
      </p>
      <p>
        Circle K members who are NOT a part of UCSD: Your respective clubs will have representatives to handle all of
        the ticketing sales for your school. Please do NOT order through the website link posted below. They will be
        collecting all of the money from you, submitting a ticket order, and emailing it out to you all. This will
        facilitate arranging rides and logistics. Representatives for your clubs are still being chosen so please talk
        to your club presidents to find out who they will be. If you are a club president, please check the president's
        Facebook group, message the UCSD Circle K page, or message president Joseph Le.
      </p>

      <p>
        All attendees must sign a waiver and either hand it in to their representatives or hand it in to us in person at
        the event. You will not be able to get in without signing the waiver. <a target="_blank" href="http://bit.ly/mball2015waiver">
        You can find the waiver here.</a>
      </p>
      <p>
        If you have any questions, please feel free to message us or email Masquerade Ball Chair Edward To at
        mball@ucsdcki.org! Hope to see y'all there and ‪<i>#gotomball</i>
      </p>
      <small>posted on October 9</small>
    </div>

    <div class="announcement">
      <h3>HOW TO GET YOUR FAST PASS</h3>
      <p>
        Looking forward to hitting all the entertainment you can in one night but dreading the long lines? Then we have
        good news for you! This year we'll be implementing a Fast Pass system so you can skip the long lines and
        maximize your night! There will be Fast Passes for the backdrop Photo Booth, Flipbook Photo Booth, Caricature
        Artist, and Tarot Card Reader! Each Fast Pass is $5! Filling out this form does not guarantee a Fast Pass but
        it's the step you have to take to ensure you're considered for one. Please refer to the form for rules and
        regulations! <a target="_blank" href="http://bit.ly/MBallFastpasses">For more information on how to get a Fast Pass, click here.</a>
      </p>
      <small>posted on October 11</small>
    </div>

  </div>
</div>

<div id="about" class="about-view">

  <div class="view-content left">

    <h1 class="yellow">WELCOME TO THE 18TH ANNUAL MASQUERADE BALL!</h1>

    <div class="image-row">
      <div class="text">
        <p>
          <b>The 2015 Masquerade Ball Committee would like to cordially invite you to join the UC San Diego Circle K’s 18th
          Annual Masquerade Ball for a night of elegance, fun, and everlasting memories.</b>
        </p>

        <p>
          On November 14, UCSD Circle K will be holding its annual Masquerade Ball fundraiser -- all proceeds benefit
          the Eliminate project. Tickets this year will be $35 until November 7th and $50 afterwards. Attendees will
          have the pleasure of enjoying the iconic San Diego Natural History Museum in the lovely and historic Balboa
          Park. This year, we will bring you the Parisian experience with a Night in Paris. Elegance and romance will
          fill the air as you dance along to the DJ on the dance floor or enjoy the view of Balboa park from the rooftop
          under a starry night with a live band playing.
        </p>
      </div>
      <img src="/modules/core/img/about1.jpg"/>
    </div>

    <h1 class="yellow">OUR CAUSE: THE ELIMINATE PROJECT</h1>

    <div class="description-row">
      <p>
        <i class="fa fa-quote-left fa-2x fa-pull-left"></i> With the Eliminate project,
        Kiwanis International and UNICEF have joined forces to eliminate
        maternal and neonatal tetanus. This deadly disease steals the lives
        of nearly 49,900 innocent babies and a significant number of women
        each year. The effects of the disease are excruciating&#8212;tiny
        newborns suffer repeated, painful convulsions and extreme sensitivity
        to light and touch. <i class="fa fa-quote-right fa-2x fa-pull-right"></i>
      </p>
      <p>
        Join UCSD Circle K in helping the Eliminate Project reach its goal
        of $110 million! This money goes towards immunizing over 100 million
        mothers and their future babies. This requires vaccines, syringes,
        safe storage, transportation, thousands of skilled staff, and more.
      </p>
      <p>
        <strong>How can you help?</strong> Visit the
        <a href="http://sites.kiwanis.org/Kiwanis/en/theELIMINATEproject/home.aspx">Eliminate Project's website</a>
        to learn more about how you can become involved!
      </p>
    </div>

  </div>

  <div class="view-header right">
    <div class="content">
      <h1>UCSD</h1>
      <h1>CIRCLE K'S</h1>
      <h1>MASQUERADE</h1>
      <h1>BALL</h1>
    </div>
  </div>

</div>

<div id="map" mb-map> </div>

<div class="directions-view">

  <h1>DRIVING DIRECTIONS</h1>

  <h4>This year's event will be held at the <span>San Diego Natural History Museum in Balboa Park.</span></h4>

  <div class="description-row">
    <p>
      When driving on 5-South: take the exit for 10th Avenue, then follow the signs for 10th Avenue. Turn left onto A
      Street, turn left onto Park Boulevard, and turn left onto Village Place. For more driving directions, visit the
      <a href="http://www.sdnhm.org/visit/parking-and-directions/">San Diego Natural History Museum's official website.</a>
    </p>
    <p>
      There is a small parking lot next to the museum as well as street parking all for free.
    </p>
  </div>
</div>

<div id="sponsors" class="sponsors-view">
  <div class="slanted-header">
    <h1>OUR SPONSORS</h1>
  </div>
  <div class="container">
    <a target="_blank" href="https://www.atlantiscasino.com"><img src="/modules/core/img/atlantis-logo.png"/></a>
    <a target="_blank" href="http://www.costco.com"><img src="/modules/core/img/costco-logo.png"/></a>
    <a target="_blank" href="http://www.cultureshockdancecenter.com"><img src="/modules/core/img/culture-shock-dance-logo.png"/></a>
    <a target="_blank" href="http://losangeles.dodgers.mlb.com/index.jsp?c_id=la"><img src="/modules/core/img/dodgers-logo.png"/></a>
    <a target="_blank" href="https://www.hornblower.com"><img src="/modules/core/img/hornblower-logo.png"/></a>
    <a target="_blank" href="http://sdmaritime.org"><img src="/modules/core/img/maritime-museum-logo.png"/></a>
  </div>
  <div class="container">
    <a target="_blank" href="http://sprinkles.com"><img src="/modules/core/img/sprinkles-logo.gif"/></a>
    <a target="_blank" href="https://thecravory.com"><img src="/modules/core/img/cravory-logo.png"/></a>
    <a target="_blank" href="http://www.midway.org"><img src="/modules/core/img/midway-logo.png"/></a>
  </div>
  <div class="container">
    <a target="_blank" href="http://chipotle.com"><img class="center" src="/modules/core/img/chipotle-logo.png"/></a>
  </div>

  <div class="separator">
  </div>
</div>

<div class="sign-off">
  <h1>SEE YOU AT MASQUERADE BALL!</h1>

  <div class="container">

    <div class="links">
      <div><a ui-sref="faq">FREQUENTLY ASKED QUESTIONS <i class="fa fa-long-arrow-right"></i></a></div>
      <div><a target="_blank" href="http://www.ucsdcki.org">UCSD CIRCLE K WEBSITE <i class="fa fa-long-arrow-right"></i></a></div>
    </div>
  </div>
</div>
