<!-- navigation bar
<ng-include src="'modules/core/views/partials/header.client.view.html'"></ng-include>
-->

<div class="viewport-height" ng-controller="LandingController as landing">

  <div class="landing-image">
    <div class="container">

      <div class="landing-hero">
        <h1>UCSD CIRCLE K'S</h1>
        <h1 class="title">Masquerade Ball</h1>
      </div>

      <div class="announcements-view">
      </div>

    </div>
  </div>

  <div class="countdown">
    <div class="container">
      <h1>COUNTDOWN TO MBALL 2015</h1>

      <div class="timer-container">
        <div class="time-value">
          <h1>75</h1>
          <h3>days</h3>
        </div>
        <div class="time-value">
          <h1>10</h1>
          <h3>hours</h3>
        </div>
        <div class="time-value">
          <h1>50</h1>
          <h3>seconds</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
  </div>
</div>
