// Global settings

body {
  margin: 0;  // for divs to reach full width of viewport
}

.container {
  @include outer-container;
}

// Landing page

.landing-image {
  background: linear-gradient(135deg, rgba(85,71,124,0.8) 0%,rgba(85,71,124,0.87) 34%,rgba(0,3,51,1) 100%),
              url('/modules/core/img/waterway.jpg') no-repeat center center fixed;

  @include background-cover;  // resizes image
  height: 800px;
}
