// Landing presentation

.landing-image {

  background: linear-gradient(135deg, rgba(85, 71, 124, .8) 0%, rgba(85, 71, 124, .87) 34%, rgba(0, 3, 51, 1) 100%),
              url('/modules/core/img/waterway.jpg') no-repeat center center fixed;
  background-size: cover;

  height: 80vh;

  h1 {
    color: $light-gray;
    letter-spacing: .2em;
  }

  .title {
    color: $white;
    font-family: $display;
    font-size: 4em;
    font-style: italic;
    letter-spacing: normal;
  }
}

.landing-hero {
  padding-left: 15px;
  padding-top: 25vh;
}

// Countdown below landing presentation

.countdown-container {
  background-color: $light-gray;
  height: 20vh;

  position: relative;   // relative to countdown div

  h1 { margin-left: 15px; }

  &:before { @include triangle-divide(-7vh, auto, 7vh, 0, 0, 100vw, transparent, $light-gray); }
  &:after { @include triangle-divide(auto, -7vh, 0, 100vw, 7vh, 0, $light-gray, transparent); }
}

mb-countdown {
  @include fill-parent;

  .time-value {
    @include span-columns(3);

    height: 60px;

    h1 {
      color: $purple;
      float: left;
      font-size: 3em;
      margin-right: 15px;
    }

    h3 {
      color: $light-emphasis;
      font-family: $serif;
      line-height: 60px;
    }
  }
}

.content {
  background-color: $dark-gray;
  height: 500px;
}
