.sign-off {
  background: linear-gradient(135deg, rgba(85, 71, 124, 1) 0%, rgba(85, 71, 124, .6) 100%),
              url('/modules/core/img/group.jpg') no-repeat center center fixed;
  background-size: cover;

  height: 400px;

  h1 {
    @include pad(default);

    color: $white;

    height: 100px;

    letter-spacing: .2em;
    text-align: center;
  }

  .links {
    @include span-columns(10);
    @include shift(1);

    height: 300px;

    div {
      @include span-columns(5 of 10);

      padding-top: 100px;
      text-align: center;
    }
  }

  a {
    @include simple-transition(.2s);

    border: 2px solid $white;
    color: $white;

    font-family: $header-font-family;

    padding: 7px;

    &:hover {
      border-color: $yellow;
      color: $yellow;
    }
  }
}

.footer {
  background-color: $dark-gray;

  height: 200px;

  h3 {
    color: $medium-gray;
    font-weight: 300;
    letter-spacing: .1em;
    padding-top: 75px;
    text-align: center;
  }
}
