// Header section

.view-header {
  width: 30vw;

  .content { padding-top: 100px; }

  h1,
  p {
    color: $white;
    text-align: center;
  }

  h1 {
    letter-spacing: .2em;
    margin-top: 10px;
  }

  p {
    color: $light-gray;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Contains announcements content

.view-content {
  @include pad(100px default default default);

  width: 70vw;

  h3,
  p {
    color: $white;
  }

  small { color: $light-gray; }

  .announcement:not(:first-child) {
    margin-top: 60px;
  }
}

.announcements-view,
.about-view {
  @include display-flex;    // Keeps child divs equal height
}

// Section containing announcements

.announcements-view {
  background-color: $dark-gray;

  .view-header {
    background: linear-gradient(to bottom, rgba(85, 71, 124, .75) 0%, rgba(85, 71, 124, .75) 100%),
                url('/modules/core/img/lights.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .view-content { background-color: lighten($dark-gray, 5%); }
}

.about-view {

  .view-header {
    background: linear-gradient(to bottom, rgba(253, 192, 112, .75) 0%, rgba(253, 192, 112, .75) 100%),
                url('/modules/core/img/lights.jpg') no-repeat center center fixed;
    background-size: cover;
  }

  .view-content {
    @include pad(default);

    background-color: $light-gray;

    p { color: lighten($base-font-color, 30%); }
  }
}

.image-row,
.description-row {
  @include outer-container;

  margin-top: 40px;
}

.image-row {
  margin-bottom: 40px;

  .text {
    @include span-columns(7);
  }

  img {
    @include span-columns(5);

    border: 3px solid $yellow;
    padding: 3px;
  }
}

.description-row {
  p { @include span-columns(4); }

  a {
    color: darken($yellow, 10%);
    &:hover { color: $yellow; }
  }
}

// Section containing driving info

.directions-view {
  background-color: lighten($dark-gray, 15%);

  h1,
  h4,
  p {
    color: $white;
  }

  h1,
  h4 { text-align: center; }

  h1 {
    @include pad(default);
    letter-spacing: .2em;
  }

  h4 { padding: 0; }

  .description-row { @include pad(0 default default default); }

  span { color: lighten($purple, 20%); }
}
