// Landing presentation

.landing-image {
  background: linear-gradient(135deg, rgba(85, 71, 124, 1) 0%, rgba(85, 71, 124, .6) 100%),
              url('/modules/core/img/mask-noir.jpg') no-repeat center center fixed;
  background-size: cover;

  height: 80vh;

  h1 {
    color: $light-gray;
    letter-spacing: .2em;
  }

  .title {
    color: $white;
    font-family: $display;
    font-size: 4em;
    font-style: italic;
    letter-spacing: normal;
  }
}

.landing-hero {
  padding-left: 15px;
  padding-top: 25vh;
}
