.navbar {
  @include simple-transition(.2s);

  height: 75px;
  position: fixed;
  width: 100vw;
  z-index: 2;

  .logo {
    @include span-columns(3);
    height: 75px;
  }

  .nav-list {
    @include span-columns(9);
  }

  ul {
    @include display-flex;
    @include flex-direction(row);
    @include flex-align-items(center);
    @include flex-justify-content(flex-end);

    height: 75px;
    margin: 0 auto;

    list-style: none;
    padding-right: 10px;

    li { padding-left: 10px; }

    a:hover { color: lighten($purple, 30%); }
  }

  a {
    @include simple-transition(.2s);

    color: $light-gray;
    font-family: $header-font-family;
    font-weight: 300;
  }

}

.overlay {
  @include simple-transition(.2s);
  background-color: lighten($dark-gray, 7%);

  a {
    color: $white;
    font-weight: 300;
  }
}

@include media($tablet) {
  .navbar {

    .mobile-hide,
    .logo { display: none; }
    .nav-list { width: 100vw; }

    ul { padding-left: 0; }

    li {
      &:last-child { padding-right: 5px; }
    }
  }
}
