// Container

body {
  margin: 0;  // for divs to reach full width of viewport
}

.container {
  @include outer-container;
}

// Typography

h1,
h2,
h3 {
  color: $base-font-color;
  font-family: $header-font-family;
  margin: 0;
}

h1 {
  font-weight: 300;
}

h3 {
  font-weight: normal;
}

p {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: .8em;
  line-height: 1.8;
}

// Miscelleanous

.light-emphasis { color: $light-emphasis; }
.emphasis { color: $purple; }

.left { float: left; }
.right { float: right; }
