<div class="footer" ng-cloak>
  <div class="container">
    <div class="footer-section">
      <h5>SOCIAL MEDIA</h5>
      <h5>FACEBOOK</h5>
      <small>Check us out on our <a target="_blank" href="https://www.facebook.com/events/866708686776026/">Facebook page!</a> There you can find some more details on the event.</small>
    </div>
    <div class="footer-section">
      <h5>APPROVED CIRCLE K DIVISIONS</h5>
      <h5>CAPITAL</h5>
      <h5>CENTRAL COAST</h5>
      <h5>DESERT OASIS</h5>
      <h5>FOOTHILL</h5>
      <h5>GOLDEN GATE</h5>
      <h5>MAGIC KINGDOM</h5>
      <h5>METRO</h5>
      <h5>PARADISE</h5>
      <h5>SUNSET</h5>
    </div>
    <div class="footer-section">
      <h5>CREDITS</h5>
      <h5>PHOTOS</h5>
      <small>Alvin Tai Vo</small>
      <h5>WEBSITE DESIGNED AND DEVELOPED BY</h5>
      <small>Brian Tan</small>
    </div>
  </div>
</div>
