<div mb-nav-scroll class="navbar" ng-class="{overlay:shouldHaveOverlay}">
  <div class="container">
    <div class="logo">
    </div>

    <div class="nav-list">
      <ul>
        <li>
          <a href="/#!">ABOUT</a>
        </li>
        <li>
          <a href="#">NEWS</a>
        </li>
        <li>
          <a href="#">DIRECTIONS</a>
        </li>
        <li>
          <a href="/#!/faq">FAQ</a>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
      </ul>
    </div>

  </div>
</div>
