<div mb-nav-scroll percentage="0.25" class="navbar" ng-class="{overlay:shouldHaveOverlay}">
  <div class="container">
    <div class="logo">
    </div>

    <div class="nav-list">
      <ul>
        <li>
          <a href="#" scroll-to="news" offset="80">NEWS</a>
        </li>
        <li>
          <a href="#" scroll-to="about">ABOUT</a>
        </li>
        <li>
          <a href="#" scroll-to="directions">DIRECTIONS</a>
        </li>
        <li>
          <a href="/#!" scroll-to="sponsors">SPONSORS</a>
        </li>
        <li>
          <a href="/#!/faq">FAQ</a>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
      </ul>
    </div>

  </div>
</div>
